JakSlowoDajeWS/JSDTestClient/Web References/localhost/MathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dosomething.pl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dosomething.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dosomething.pl/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HelloWorldResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginTest">
        <s:complexType />
      </s:element>
      <s:element name="LoginTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginTestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MacierzRazyLiczba">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="macierz" type="tns:ArrayOfArrayOfDouble" />
            <s:element minOccurs="1" maxOccurs="1" name="mnoznik" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfDouble" nillable="true" type="tns:ArrayOfDouble" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="MacierzRazyLiczbaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacierzRazyLiczbaResult" type="tns:ArrayOfArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAuth" type="tns:UserAuth" />
      <s:complexType name="UserAuth">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginTestSoapIn">
    <wsdl:part name="parameters" element="tns:LoginTest" />
  </wsdl:message>
  <wsdl:message name="LoginTestSoapOut">
    <wsdl:part name="parameters" element="tns:LoginTestResponse" />
  </wsdl:message>
  <wsdl:message name="MacierzRazyLiczbaSoapIn">
    <wsdl:part name="parameters" element="tns:MacierzRazyLiczba" />
  </wsdl:message>
  <wsdl:message name="MacierzRazyLiczbaSoapOut">
    <wsdl:part name="parameters" element="tns:MacierzRazyLiczbaResponse" />
  </wsdl:message>
  <wsdl:message name="MacierzRazyLiczbaUserAuth">
    <wsdl:part name="UserAuth" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:portType name="MathServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginTest">
      <wsdl:input message="tns:LoginTestSoapIn" />
      <wsdl:output message="tns:LoginTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MacierzRazyLiczba">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mnorznie macierzy razy liczbę</wsdl:documentation>
      <wsdl:input message="tns:MacierzRazyLiczbaSoapIn" />
      <wsdl:output message="tns:MacierzRazyLiczbaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathServiceSoap" type="tns:MathServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://dosomething.pl/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginTest">
      <soap:operation soapAction="http://dosomething.pl/LoginTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MacierzRazyLiczba">
      <soap:operation soapAction="http://dosomething.pl/MacierzRazyLiczba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MacierzRazyLiczbaUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathServiceSoap12" type="tns:MathServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://dosomething.pl/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginTest">
      <soap12:operation soapAction="http://dosomething.pl/LoginTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MacierzRazyLiczba">
      <soap12:operation soapAction="http://dosomething.pl/MacierzRazyLiczba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:MacierzRazyLiczbaUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="MathServiceSoap" binding="tns:MathServiceSoap">
      <soap:address location="http://localhost:61922/MathService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathServiceSoap12" binding="tns:MathServiceSoap12">
      <soap12:address location="http://localhost:61922/MathService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>